.shop-nav {
  width: 100vw;
  height: 70px;
  border-bottom: 2px solid black;
}

.shop-nav-title a{
  color: black;
  font-size: 50px;
  display: inline-block;
  font-family: 'Alice', serif;
  margin: 10px;
  text-decoration: none;
}

.shop-buttons {
  position: relative;
  left: 75vw;
  top: -40px;
  width: 18vw;
}

.shop-aboutBtn {
  font-family: 'Alice', serif;
  font-size: 15px;
  color: black;
  background: transparent;
  outline: none;
  border: none;
}

.shop-loginBtn {
  font-family: 'Alice', serif;
  font-size: 15px;
  color: black;
  background: transparent;
  outline: none;
  border: none;
}

.shop-registerBtn {
  font-family: 'Alice', serif;
  font-size: 15px;
  color: black;
  background: transparent;
  outline: none;
  border: none;
}

.shop-name {
  font-family: 'Alice', serif;
  font-size: 15px;
  color: black;
  display: inline-block;
}

.shop-logoutBtn {
  font-family: 'Alice', serif;
  font-size: 15px;
  color: black;
  background: transparent;
  outline: none;
  border: none;
}
