<section>
  <nav class="shop-nav">
    <div class="shop-nav-title">
      <a ui-sref="landing">White Elephant Candles</a>
    </div>
    <div class="shop-buttons">
      <button class="shop-aboutBtn" ui-sref="about" type="button" name="button">About</button>
      <button class="shop-loginBtn" ui-sref="login" ng-show="loginBtn">Login</button>
      <button class="shop-registerBtn" ui-sref="signUp" ng-show="signUpBtn">Register</button>
      <div class="shop-name" ng-show="accountName">Hi, {{name}}</div>
      <button class="shop-logoutBtn" type="button" name="button" ng-click="logout()" ng-show="logoutBtn">Log Out</button>
    </div>
  </nav>
</section>
