<section>
  <nav class="shop-nav">
    <div class="shop-nav-title">
      <a ui-sref="landing">White Elephant Candles</a>
    </div>
    <div class="shop-buttons">
      <button class="shop-aboutBtn" ui-sref="about" type="button" name="button">About</button>
      <button class="shop-cartBtn" ui-sref="cart" type="button" name="button">Cart</button>
      <button class="shop-loginBtn" ng-show="loginBtn" ng-click="showLoginBox()">Login</button>
      <button class="shop-registerBtn" ng-show="signUpBtn" ng-click="showSignUpBox()">Register</button>
      <div class="shop-name" ng-show="accountName">Hi, {{name}}</div>
      <button class="shop-logoutBtn" type="button" name="button" ng-click="logout()" ng-show="logoutBtn">Log Out</button>
    </div>
    <login-Directive ng-show="loginDirective" class="login-directive"></login-Directive>
    <sign-Up-Directive ng-show="signUpDirective" class="login-directive"></sign-Up-Directive>
  </nav>
  <section class="shop-middle">
    <div class="shop-added-banner" ng-show="addedBannerSingle">
      {{quantityBanner}} {{candleName}} was added to your cart! <button type="button" name="button" ui-sref="cart">Go To Cart</button>
    </div>
    <div class="shop-added-banner" ng-show="addedBannerMultiple">
      {{quantityBanner}} {{candleName}}'s were added to your cart! <button type="button" name="button" ui-sref="cart">Go To Cart</button>
    </div>
    <div class="shop-products">
      <div class="shop-mystery" ng-repeat = "candle in candles">
        {{candle.name}}
        ${{candle.price}}
        <shop-Directive></shop-Directive>
      </div>
    </div>
  </section>
</section>
