.checkout-auth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.checkout-login {
  width: 50vw;
  height: 50vh;
  background: lightblue;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkout-signUp {
  width: 50vw;
  height: 50vh;
  background: lightblue;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkout-middle {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.checkout-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33vw;
  height: 50vh;
  margin-top: 10px;
  background: lightblue;
}

.checkout-product {
  margin: 10px;
  font-size: 20px;
}

.checkout-total {
  margin-left: 10px;
  font-size: 20px;
}

.checkout-addresses {
  width: 33vw;
  height: 88vh;
  border-right: 2px dashed black;
  margin-top: 10px;
}

.checkout-billingAddress {
  background: lightgreen;
  height: 55vh;
}

.checkout-shippingAddress {
  background: orange;
  height: 55vh;
}

.checkout-shippingBilling {
  width: 33vw;
  height: 88vh;
  border-right: 2px dashed black;
  margin-top: 10px;
}

.checkout-shipping {
  background: red;
  height: 44vh;
}

.checkout-billing {
  background: purple;
  height: 44vh;
}
