<section>
  <nav class="cart-nav">
    <div class="cart-nav-title">
      <a ui-sref="landing">White Elephant Candles</a>
    </div>
    <div class="cart-buttons">
      <button class="cart-aboutBtn" ui-sref="about" type="button" name="button">About</button>
      <button class="cart-shopBtn" ui-sref="shop" type="button" name="button">Shop</button>
      <button class="cart-loginBtn" ng-show="loginBtn" ng-click="showLoginBox()">Login</button>
      <button class="cart-registerBtn" ng-show="signUpBtn" ng-click="showSignUpBox()">Register</button>
      <div class="cart-name" ng-show="accountName">Hi, {{firstName}}</div>
      <button class="cart-logoutBtn" type="button" name="button" ng-click="logout()" ng-show="logoutBtn">Log Out</button>
    </div>
    <login-Directive ng-show="loginDirective" class="login-directive"></login-Directive>
    <sign-Up-Directive ng-show="signUpDirective" class="login-directive"></sign-Up-Directive>
  </nav>
  <div class="checkout-auth" ng-show="checkoutAuth">
    <div class="checkout-login">
      <input type="email" name="name" placeholder="Email" ng-model="loginEmail">
      <input type="password" name="name" placeholder="Password" ng-model="loginPassword">
      <button type="button" name="button" ng-click="logIn(loginEmail, loginPassword)">Log In</button>
    </div>
    <div class="checkout-signUp">
      <input type="input" name="name" placeholder="First Name" ng-model="signUpFirstName">
      <input type="input" name="name" placeholder="Last Name" ng-model="signUpLastName">
      <input type="email" name="name" placeholder="Email Address" ng-model="signUpEmail">
      <input type="password" name="name" placeholder="Password" ng-model="signUpPassword">
      <input type="password" name="name" placeholder="Confirm Password" ng-model="signUpConfirmPassword">
      <button type="button" name="button" ng-click="create(signUpFirstName, signUpLastName, signUpEmail, signUpPassword, signUpConfirmPassword)">Create Account</button>
    </div>
  </div>
</section>
<section class="checkout-middle">

  <div class="checkout-addresses">
    <div class="checkout-billingAddress">
      Address Stuff
      <p>First Name</p>
      <input type="text" name="" value="{{firstName}}" placeholder="First Name" ng-model="firstName">
      <p>Last Name</p>
      <input type="text" name="" value="{{lastName}}" placeholder="Last Name" ng-model="lastName">
      <p>Email</p>
      <input type="text" name="" value="{{email}}" placeholder="Email" ng-model="email">
      <p>Telephone</p>
      <input type="text" name="" value="{{phone}}" placeholder="Telephone" ng-model="phone">
      <p>Billing Address</p>
      <input type="text" name="" value="{{address}}" placeholder="Billing Address" ng-model="address">
      <p>City</p>
      <input type="text" name="" value="{{city}}" placeholder="City" ng-model="city">
      <p>State</p>
      <input type="text" name="" value="{{state}}" placeholder="State" ng-model="state">
      <p>Postal Code</p>
      <input type="text" name="" value="{{zipcode}}" placeholder="Postal Code" ng-model="zipcode">
      <p>Country</p>
      <input type="text" name="" value="{{country}}" placeholder="Country" ng-model="country">
      <br>
      <input type="checkbox" ng-model="checked" ng-click="saveBillingInfo(firstName, lastName, email)"> Different shipping address?
    </div>
    <div class="checkout-shippingAddress" ng-show="checked">
      Shipping Address stuff
      <p>First Name</p>
      <input type="text" name="" value="" placeholder="First Name" ng-model="shippingFirstName">
      <p>Last Name</p>
      <input type="text" name="" value="" placeholder="Last Name" ng-model="shippingLastName">
      <p>Email</p>
      <input type="text" name="" value="" placeholder="Email" ng-model="shippingEmail">
      <p>Telephone</p>
      <input type="text" name="" value="" placeholder="Telephone" ng-model="shippingPhone">
      <p>Shipping Address</p>
      <input type="text" name="" value="" placeholder="Billing Address" ng-model="shippingAddress">
      <p>City</p>
      <input type="text" name="" value="" placeholder="City" ng-model="shippingCity">
      <p>State</p>
      <input type="text" name="" value="" placeholder="State" ng-model="shippingState">
      <p>Postal Code</p>
      <input type="text" name="" value="" placeholder="Postal Code" ng-model="shippingZipcode">
      <p>Country</p>
      <input type="text" name="" value="" placeholder="Country" ng-model="shippingCountry">
    </div>
  </div>
  <div class="checkout-shippingBilling">
    <div class="checkout-shipping">
      Shipping stuff
      <div class="checkout-shipping-products" ng-repeat="product in products | orderBy:'products_id' : reverse = true">
        <div class="checkout-products-name">{{product.quantity}} {{product.name}}'s</div>
        <div class="checkout-shipping-prices">{{product.shipping}} USD</div>
      </div>
      <p>Total Shipping: {{totalShipping}}</p>
    </div>
    <div class="checkout-billing">
      Billing stuff
      <input type="radio" name="payment" value="paypal" checked ng-click="hide()"> Paypal
      <input type="radio" name="payment" value="creditCard" ng-model="selected" ng-click="console()"> Credit Card
      <div class="checkout-creditCard" ng-show="selected">
        <form stripe-form="stripeCallback">
          <input ng-model="number" placeholder="Card Number" />
          <input ng-model="expiry" placeholder="Expiration" />
          <input ng-model="cvc" placeholder="CVC" />
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="checkout-cart" ng-show="checkoutCart">
    <div class="checkout-product" ng-repeat="product in products | orderBy:'products_id'">
      {{product.name}} <br>
      Price of Product: {{product.price}} USD <br>
      Quantity: {{product.quantity}}<br>
      Price: {{product.price * product.quantity}} USD<br>
    </div>
    <p class="checkout-subtotal">Subtotal: {{subtotal}}</p>
    <p class="checkout-shippingTotal">Shipping: {{totalShipping}}</p>
    <p class="checkout-total">Total: {{totalPrice}} USD</p>
    <div class="checkout-buttons">
      <button type="button" name="button" ui-sref="cart">Edit Order</button>
      <button type="button" name="button">Place Order</button>
    </div>
  </div>
  </div>
</section>
