<section>
  <nav class="cart-nav">
    <div class="cart-nav-title">
      <a ui-sref="landing">White Elephant Candles</a>
    </div>
    <div class="cart-buttons">
      <button class="cart-aboutBtn" ui-sref="about" type="button" name="button">About</button>
      <button class="cart-shopBtn" ui-sref="shop" type="button" name="button">Shop</button>
      <button class="cart-loginBtn" ng-show="loginBtn" ng-click="showLoginBox()">Login</button>
      <button class="cart-registerBtn" ng-show="signUpBtn" ng-click="showSignUpBox()">Register</button>
      <div class="cart-name" ng-show="accountName">Hi, {{name}}</div>
      <button class="cart-logoutBtn" type="button" name="button" ng-click="logout()" ng-show="logoutBtn">Log Out</button>
    </div>
    <login-Directive ng-show="loginDirective" class="login-directive"></login-Directive>
    <sign-Up-Directive ng-show="signUpDirective" class="login-directive"></sign-Up-Directive>
  </nav>
  <div class="checkout-auth" ng-show="checkoutAuth">
    <div class="checkout-login">
      <input type="email" name="name" placeholder="Email" ng-model="loginEmail">
      <input type="password" name="name" placeholder="Password" ng-model="loginPassword">
      <button type="button" name="button" ng-click="logIn(loginEmail, loginPassword)">Log In</button>
    </div>
    <div class="checkout-signUp">
      <input type="input" name="name" placeholder="First Name" ng-model="signUpFirstName">
      <input type="input" name="name" placeholder="Last Name" ng-model="signUpLastName">
      <input type="email" name="name" placeholder="Email Address" ng-model="signUpEmail">
      <input type="password" name="name" placeholder="Password" ng-model="signUpPassword">
      <input type="password" name="name" placeholder="Confirm Password" ng-model="signUpConfirmPassword">
      <button type="button" name="button" ng-click="create(signUpFirstName, signUpLastName, signUpEmail, signUpPassword, signUpConfirmPassword)">Create Account</button>
    </div>
  </div>
</section>
<section>
  You're one step closer to your one-of-a-kind candle!
  <div class="checkout-cart" ng-show="checkoutCart">
    <button type="button" name="button" ui-sref="cart">Edit</button>
    <div class="checkout-product" ng-repeat="product in products">
      {{product.name}} <br>
      Price of Product: {{product.price}} <br>
      Quantity: {{product.quantity}}<br>
      Price: {{product.price * product.quantity}} <br>
    </div>
    Total: {{totalPrice}}
  </div>
  </div>
</section>
