<section>
  <nav class="cart-nav">
    <div class="cart-nav-title">
      <a ui-sref="landing">White Elephant Candles</a>
    </div>
    <div class="cart-buttons">
      <button class="cart-aboutBtn" ui-sref="about" type="button" name="button">About</button>
      <button class="cart-shopBtn" ui-sref="shop" type="button" name="button">Shop</button>
      <button class="cart-loginBtn" ng-show="loginBtn" ng-click="showLoginBox()">Login</button>
      <button class="cart-registerBtn" ng-show="signUpBtn" ng-click="showSignUpBox()">Register</button>
      <div class="cart-name" ng-show="accountName">Hi, {{name}}</div>
      <button class="cart-logoutBtn" type="button" name="button" ng-click="logout()" ng-show="logoutBtn">Log Out</button>
    </div>
    <login-Directive ng-show="loginDirective" class="login-directive"></login-Directive>
    <sign-Up-Directive ng-show="signUpDirective" class="login-directive"></sign-Up-Directive>
  </nav>
  <div class="cart-main">
    <div class="cart">
      <div class="cart-product" ng-repeat="product in products">
        {{product.name}} <br>
        Price of Product: {{product.price}} <br>
        Quantity: <a href="#" editable-range="product.quantity" e-step="1" e-min="1" e-max="20" onbeforesave="updateTotalPrice(product.products_id, $data, product.id)">{{product.quantity}}</a><br>
        Price: {{product.price * product.quantity}} <br>
        <button type="button" name="button" ng-click="removeProductFromCart(product.products_id)">Remove</button>
      </div>
      Total: {{totalPrice}}
    </div>
  </div>
</section>
<cart-directive ng-show="update"></cart-directive>
