.nav-bar {
  z-index: 100;
  position: absolute;
  width: 100vw;
  height: 70px;
  background: transparent;
}

.title {
  color: mintcream;
  font-size: 50px;
  display: inline-block;
  font-family: 'Alice', serif;
  margin: 10px;
}

.buttons {
  position: relative;
  left: calc(100vw - 350px);
  top: -40px;
  width: 300px;
}

.aboutBtn {
  font-family: 'Alice', serif;
  font-size: 15px;
  color: mintcream;
  background: transparent;
  outline: none;
  border: none;
}

.shopBtn {
  font-family: 'Alice', serif;
  font-size: 15px;
  color: mintcream;
  background: transparent;
  outline: none;
  border: none;
}

.cartBtn {
  font-family: 'Alice', serif;
  font-size: 15px;
  color: mintcream;
  background: transparent;
  outline: none;
  border: none;
}

.loginBtn {
  font-family: 'Alice', serif;
  font-size: 15px;
  color: mintcream;
  background: transparent;
  outline: none;
  border: none;
}

.registerBtn {
  font-family: 'Alice', serif;
  font-size: 15px;
  color: mintcream;
  background: transparent;
  outline: none;
  border: none;
}

.name {
  font-family: 'Alice', serif;
  font-size: 15px;
  color: mintcream;
  display: inline-block;
}

.logoutBtn {
  font-family: 'Alice', serif;
  font-size: 15px;
  color: mintcream;
  background: transparent;
  outline: none;
  border: none;
}

.intro-main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*overflow: hidden;*/
}

.intro-video {
  background: url("../../img/unsplashCandles.png");
  background-repeat: no-repeat;
  width: 100vw;
  height: 64vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sub-title {
  color: mintcream;
  font-size: 17px;
  width: 27vw;
  height: 24vh;
  position: relative;
  font-family: 'Alice', serif;
  border: 2px solid mintcream;
  border-radius: 5px;
  left: 8vw;
  text-align: center;
  padding: 5px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.shopNow {
  width: 90%;
  height: 20%;
  font-family: 'Alice', serif;
  font-size: 17px;
  color: mintcream;
  background: #FF5B64;
  border-radius: 10px;
  outline: none;
  border: 1px solid black
}

.candle {
  position: absolute;
  top: 0;
  left: -25px;
  height: 120vh;
  width: 120vw;
}

.how-it-works {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 70vh;
  background: lightgrey;
}
