<div ng-controller="landingCtrl">
  <nav class="nav-bar">
    <div class="title">
      White Elephant Candles
    </div>
    <div class="buttons">
      <button class="aboutBtn" ui-sref="about" type="button" name="button">About</button>
      <button class="shopBtn" ui-sref="shop" type="button" name="button">Shop</button>
      <button class="cartBtn" ui-sref="cart" type="button" name="button">Cart</button>
      <button class="loginBtn" ng-show="loginBtn" ng-click="showLoginBox()">Login</button>
      <button class="registerBtn" ng-show="signUpBtn" ng-click="showSignUpBox()">Register</button>
      <div class="name" ng-show="accountName">Hi, {{name}}</div>
      <button class="logoutBtn" type="button" name="button" ng-click="logout()" ng-show="logoutBtn">Log Out</button>
    </div>
    <login-Directive ng-show="loginDirective"></login-Directive>
    <sign-Up-Directive ng-show="signUpDirective"></sign-Up-Directive>
  </nav>
  <section class="intro-main">
    <div class="overlay"></div>
        <div class="intro-video">
          <!-- <video muted loop class="candle" src="../../videos/candleBurning.MOV" autoplay poster="posterimage.jpg"></video> -->
        </div>
    </div>
  </section>
  <section class="how-it-works">

  </section>

</div>
