.nav-bar {
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 10vh;
  background: transparent;
}

.title {
  color: mintcream;
  font-size: 50px;
  display: inline-block;
  font-family: 'Alice', serif;
  margin: 10px;
}

.buttons {
  position: relative;
  left: 88vw;
  top: -6vh;
}

.loginBtn {
  background: transparent;
  font-family: 'Alice', serif;
  outline: none;
  border: none;
  color: mintcream;
  font-size: 15px;
}

.registerBtn {
  background: transparent;
  font-family: 'Alice', serif;
  outline: none;
  border: none;
  color: mintcream;
  font-size: 15px;
}

.intro-main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*overflow: hidden;*/
}

.intro-video {
  background: url("../../img/unsplashCandles.png");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.candle {
  position: absolute;
  top: 0;
  left: -25px;
  height: 120vh;
  width: 120vw;
}
