.main-intro {
  width: 100vw;
  height: 60vh;
}

.main-left {
  width: 51vw;
  height: 69vh;
  display: inline-block;
}

.main-left img {
  width: 55vw;
}

.main-right-top {
  width: 40vw;
  height: 41vh;
  display: inline-block;
  position: relative;
  top: -35vh;
  left: 5vw;
}

.main-right-top img {
  width: 40vw;
}

.main-right-bottom {
  width: 40vw;
  height: 100vh;
  display: inline-block;
}

.main-right-bottom img {
  width: 40vw;
}
